5 + 3

In [1]:
#Basic data types of integer and adding them below
5 + 3

8

In [2]:
#Adding Boolean Values
3.14 + 3.14

6.28

In [3]:
#Concatenating a String
"Super" + " Bowl" + " LV"

'Super Bowl LV'

In [4]:
#PEMDAS 
#Parenthesis Exponents Multiplication Division Addition Subtraction
3+ 4 * 5

23

In [5]:
#Modulus Operator - gives out the remainder

14 % 3

2

In [6]:
#Basically divides but gives the floor value without decimals

14 // 3

4

In [7]:
#Equality Operator | Is something equal to something
#Also applies to string. Every character must match though and case sensitivity matters.
3 == 5

#The inverse of this is the inequality operator !=

False

In [8]:
#Declaring a variable and basically using variables | a data type is assigned to a variable depending upon what you 
#initialize the variable as
#The reason it's called a variable because it is subject to change according to our code 
age = 26
print(age)

26

In [9]:
age + 5
print(age)

26

In [10]:
age + 5

31

In [11]:
#Built In Python Functions
#len --> calculates all the characters in the input or the argument 

len('My name is Priyansh Bhogra')

26

In [12]:
#str --> accepts an argument and converts it into a string format

str(3.14)

'3.14'

In [13]:
#int --> accepts an argument and converts the input argument into integer format

int('10')

10

In [14]:
#float --> accepts an argument and converts the input argument into float format and returns a floating point number

float('9.346')

9.346

In [15]:
#type --> accepts any number, string, boolean and tells you what kind of format type it is
#utility operations used to convert or find out what kind of a type function might be

type(age)

int

In [16]:
#evaluating whether the data type of 10 is the same as that of 15, it is not evaluating whether 10 = 15

type (10) == type (15)

True

In [17]:
#Custom Functions
#Declare a function that accepts a temperature in celsius and returns it in fahrenheit

def convert_to_fahrenheit(temp_celsius):
    product = temp_celsius * 1.8
    return product + 32

In [18]:
convert_to_fahrenheit(16) #implicitly passing the celsius temperature in the input argument, this parameter is mandatory

60.8

In [22]:
%config Completer.use_jedi = False

In [20]:
convert_to_fahrenheit(0)

32.0

In [23]:
profession = 'Developer'

In [47]:
print(profession.upper()) #converts the variable into UPPER case

print(profession.lower()) #converts the variable into lOWER case

print(profession.swapcase()) #converts the casing to the opposite case, if a letter is in uppercase 
#it's converted to lower case and vice versa

# A string is immutable i.e. it cannot be changed, the original string will be unaffected

print('once upon a time'.title()) #capitalises the first letter of every word of string passed in the print function

print('once upon a time'.capitalize()) #capitalize the first letter of the string only

print('          CHIEFS      W'.lstrip()) #strips all the white space from the beginning or the left side

print('          CHIEFS       '.rstrip()) #strips all the white space from the right side

print('      CHIEFS      '.strip()) #strips all the white spaces from either sides

print(profession.replace('e', 'x')) #searches for the character you want to replace and replaces it with the
#the one you specify

profession.startswith('De') #checks whether a particular string starts with the argument passed; is case sensitive

profession.endswith('or') #checks whether a particular string ends with the argument passed; again is case sensitive

'eve' in profession #checks whether 'eve' occurs in the profession string 

'D' not in profession #checks whether 'z' not in profession

DEVELOPER
developer
dEVELOPER
Once Upon A Time
Once upon a time
CHIEFS      W
          CHIEFS
CHIEFS
Dxvxlopxr

False

In [27]:
profession.lower()

'developer'

In [66]:
#LISTS --> Mutable data structures that hold an ordered collection of elements, is stored within square brackets
#data types in a list should be homogenous, it is just a good practice to follow

list1 = [1, 2, 4, 5]
print(list1, '\n')

list2 = ['Riddhima', 'Riya', 'Priyansh']
print(list2, '\n')

Cheifs_Squad = ['Mahomes', 'Kelce', 'Hill', 'Matheiu', 'Clarke']
print(Cheifs_Squad)

Cheifs_Squad.append('Jones') #Append accepts an argument that is added to the end of the list or appended to the list
#we are adding on, this gets added to the end of the list, we aren't creating a new list
print(Cheifs_Squad) 

Cheifs_Squad.pop() #last list element is deleted, shrinks the list
print(Cheifs_Squad)

Cheifs_Squad.remove('Clarke') #will remove the input passed in the argument of the function, 
#will only remove the first occurence
print(Cheifs_Squad)

"Hill" in Cheifs_Squad #checks whether the input exists in the list or not; the output will be a Boolean function
#case sensitivity matters

[1, 2, 4, 5]

['Riddhima', 'Riya', 'Priyansh']

['Mahomes', 'Kelce', 'Hill', 'Matheiu', 'Clarke']
['Mahomes', 'Kelce', 'Hill', 'Matheiu', 'Clarke', 'Jones']
['Mahomes', 'Kelce', 'Hill', 'Matheiu', 'Clarke']
['Mahomes', 'Kelce', 'Hill', 'Matheiu']

True

In [76]:
#Index Positioning
#index count starts from 0, final index position = len-1

marvel = ['Iron Man', 'Spider Man', 'Captain America', 'Thor', 'Hulk', 'Black Widow']

#if I want to retrive Captain America, I will pass 2 
print(marvel[2])

#If we want to start from the end, we use negative number starting -1, below we try retrieving Hulk
print(marvel[-2])


#Slicing --> pulling more than one elements from the list

print(marvel[1:3]) #first number is start position(inclusive) i.e. the element at the first index position of the string is inclusive
#second number is upto 3rd position (exclusive)so, as we see below Thor in the 3rd index position is not included 
#in the list

#Same rules apply to a string

mvp = 'Patrick Mahomes'
print(mvp[3:9])

Captain America
Hulk
['Spider Man', 'Captain America']
rick M

In [91]:
#Dictionary --> is basically an unordered collection of key-value pairs
#We are creating associations between two pieces of data
#The KEY in the dictionary is a unique identifier for its VALUE pair; they keys must be unique but the values can be duplicate
#A dictionary should be not assumed to be in order; enclosed between {}
#Dictionary is mutable; so key value pairs can be added and deleted

restaurant_menu = {
                    "Tempeh Burrito" : 8.95,
                    "Mutton Biryani" : 13.99,
                    "Pizza" : 5.99,
                    "New York Style Cheesecake" : 4.95
}

print(restaurant_menu)

print(len(restaurant_menu))

print('The price for a Pizza is $', restaurant_menu['Pizza']) #retrieving the value associated with 'Pizza' key

#Appending a new item in the dictionary below:
restaurant_menu["Tacos"] = 7.99

print(restaurant_menu)

#Overwriting or editing an existing key value pair:
restaurant_menu["Pizza"] = 7.99

print(restaurant_menu)

{'Tempeh Burrito': 8.95, 'Mutton Biryani': 13.99, 'Pizza': 5.99, 'New York Style Cheesecake': 4.95}
4
The price for a Pizza is $ 5.99
{'Tempeh Burrito': 8.95, 'Mutton Biryani': 13.99, 'Pizza': 5.99, 'New York Style Cheesecake': 4.95, 'Tacos': 7.99}
{'Tempeh Burrito': 8.95, 'Mutton Biryani': 13.99, 'Pizza': 7.99, 'New York Style Cheesecake': 4.95, 'Tacos': 7.99}

In [92]:
restaurant_menu

{'Tempeh Burrito': 8.95,
 'Mutton Biryani': 13.99,
 'Pizza': 7.99,
 'New York Style Cheesecake': 4.95,
 'Tacos': 7.99}

In [93]:
"Pizza" in restaurant_menu #checking whether "Pizza" is one of the keys; will return Bool value

True