In [2]:
import pandas as pd

In [4]:
%config Completer.use_jedi = False

CREATING A SERIES OBJECT FROM A PYTHON LIST

A pandas series is a one dimensional labelled array; 
more powerful version of a Python list; 
stores data in a sequenced order; 
One dimensional data, like one column of information;
Consistency is the key; should contain only one consistent data type; the data type should stay the same in the series

In [6]:
afc_teams = ['Buffalo Bills', 'Cleveland Browns', 'Indianapolis Colts', 'Kansas City Cheifs']

pd.Series(afc_teams) #Series is a constructor method that builds the list into a Pandas series

#dtype --> data type

0         Buffalo Bills
1      Cleveland Browns
2    Indianapolis Colts
3    Kansas City Cheifs
dtype: object

In [7]:
int_list = [29, 11, 30, 7, 24, 11]

pd.Series(int_list) #we did not specify any index label, that's why Pandas specifies it as a normal index label

0    29
1    11
2    30
3     7
4    24
5    11
dtype: int64

In [8]:
bool_list = [True, False, False, False, True, True]

pd.Series(bool_list)

0     True
1    False
2    False
3    False
4     True
5     True
dtype: bool

CREATING A SERIES OBJECT FROM A DICTIONARY

In [10]:
profession_list = {
                    "Data Engineer" : "Python, SQL, ETL",
                    "Software Development Engineer" : "Python, Frameworks, Databases",
                    "Software Engineer" : "C/C++, Data Structures, Algorithms"
}

pd.Series(profession_list)

#As you can see below, the keys from the dictionary have been converted into indexes by Pandas

Data Engineer                                      Python, SQL, ETL
Software Development Engineer         Python, Frameworks, Databases
Software Engineer                C/C++, Data Structures, Algorithms
dtype: object

INTRO TO ATTRIBUTESS:

Attributes and Methods go hand in hand; Objects in Python have attributes and methods;
Attributes return information about the objects, they deliver some kind of detail about it; Whereas Methods do operate on objects and perform some sort of calculation or manipulation over the object

In [14]:
pl_teams = ['Manchester United', 'Tottenham Hotspurs', 'Arsenal', 'Chelsea', 'Manchester City', 'Liverpool']
teams = pd.Series(pl_teams)
teams

0     Manchester United
1    Tottenham Hotspurs
2               Arsenal
3               Chelsea
4       Manchester City
5             Liverpool
dtype: object

In [15]:
#Accessing attributes for the series constructed above; attributes do not require a parenthesis at the end

teams.values #this attribute will return the series as an ARRAY

array(['Manchester United', 'Tottenham Hotspurs', 'Arsenal', 'Chelsea',
       'Manchester City', 'Liverpool'], dtype=object)

In [16]:
teams.index #focuses on index component of series and output is an object that is a range index

RangeIndex(start=0, stop=6, step=1)

INTRO TO METHODS:

Methods basically helps in manipulating the object or performing calculations

In [19]:
float_list = [23.56, 43.45, 54.32, 89.87]

float_series = pd.Series(float_list)
float_series

0    23.56
1    43.45
2    54.32
3    89.87
dtype: float64

In [20]:
float_series.sum() #gives the sum of the objects in the series;
#methods unlike attributes require a set of parenthesis at the end

211.20000000000002

In [21]:
float_series.product() #gives the product of all the objects in the series

4997347.728788801

In [22]:
float_series.mean() #gives the mean of all the objects in the series

52.800000000000004

PARAMETERS AND ARGUMENTS

Parameter --> A parameter is a variable defined by a function that receives a value when that function is called
Argument --> An argument is a value that is passed at the time of calling a function

In [24]:
schools = ['A&M', 'Arizona', 'SUNY Buffalo', 'Northeastern']

courses = ['System Design', 'Advanced Databases', 'Accounting Concepts', 'Data Warehousing']

pd.Series(schools, courses) #we have passed schools as the data for the series and courses as index

System Design                   A&M
Advanced Databases          Arizona
Accounting Concepts    SUNY Buffalo
Data Warehousing       Northeastern
dtype: object

IMPORT SERIES WITH THE  read_csv METHOD

Importing data from a CSV file and storing it in a Pandas Series

In [35]:
pokemon = pd.read_csv("pandas/pokemon.csv", usecols = ['Pokemon'], squeeze = True) 
#using only the Pokemon column, squeezing the data into a series since series can store only one column of data

pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [40]:
google_stocks = pd.read_csv("pandas/google_stock_price.csv", usecols = ['Stock Price'], squeeze = True)

google_stocks

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

THE .head() and .tail() METHODS

In [45]:
pokemon.head(5) #head method gives us the first five rows of the series (case we want to check what the data looks like)

#it returns the first five rows into a new series instead of the original one; creates a brand new shortened series

#you can also write in the parenthesis the number of rows you want --> pokemon.head(11)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [42]:
pokemon.tail() #tail method gives us the last five rows of the series (case we want to check what the data looks like)

#it returns the last five rows into a new series instead of the original one; creates a brand new shortened series

#you can also write in the parenthesis the number of rows you want --> pokemon.tail(11)

716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

    BUILT IN SERIES FUNCTIONS

In [53]:
len(pokemon) #gives the total number of rows in that series

721

In [50]:
type(pokemon) #gives the type of the series

pandas.core.series.Series

In [57]:
 max(google_stocks) #gives the max value in the series

782.22

In [58]:
min(google_stocks) #gives the minimum value in the series

49.95

MORE SERIES ATTRIBUTES --> gives details about the dataset or the series

In [60]:
google_stocks.values #resultant is an array of all the values in the series ; truncated array

array([ 50.12,  54.1 ,  54.65, ..., 773.18, 771.61, 782.22])

In [61]:
google_stocks.index #resultant is a range index with starting index and the last index (excluded)

RangeIndex(start=0, stop=3012, step=1)

In [63]:
google_stocks.is_unique #gives a boolean value as to whether all the elements in the series are unique or not

False

In [64]:
pokemon.ndim #gives the number of dimensions in the series; a series is one dimensional, so the result here will be 1

1

In [66]:
google_stocks.size #gives the total number of elements or cells within the series; does count null values

3012

THE .sort_values() METHOD

In [69]:
pokemon.sort_values() #values in alphabetical order; returns a brand new series object

# pokemon.sort_values().head() --> method chaining; returns first five elements of the above the series

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
         ...
570      Zoroark
569        Zorua
40         Zubat
633     Zweilous
717      Zygarde
Name: Pokemon, Length: 721, dtype: object

In [71]:
google_stocks.sort_values(ascending=False) 

#values will be populated in descending order since the ascending alphabetical order is turned False

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
         ...
12       50.74
10       50.70
0        50.12
9        50.07
11       49.95
Name: Stock Price, Length: 3012, dtype: float64

In [72]:
#Find the Google Stock that has the highest values:

google_stocks.sort_values(ascending=False).head(1)

3011    782.22
Name: Stock Price, dtype: float64

THE INPLACE PARAMETER

In [84]:
google_stocks.sort_values(ascending = True, inplace = True) 
#The inplace method will overwrite the series and store the sorted series

google_stocks

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

THE sort_index() METHOD

In [87]:
pokemon.sort_index(ascending = True, inplace = True) #sorts according to the index
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

PYTHON'S in KEYWORD

To check whether a value exists in either a series index or aomng the actual values of the series

However, Pandas looks in the index column when you use the in method, so it is imperative that we use in method with 'Series Name'.values attribute to check whether that value exists or not. If you want to check the index, then in can work directly with series.

In [89]:
pokemon.head(5)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [90]:
'Bulbasaur' in pokemon.values #check in the values attribute

True

EXTRACTING VALUES BY INDEX POSITION

In [93]:
pokemon[1] #gives the pokemon at first index

pokemon[[99, 199, 299, 399]] #pokemon at 99, 199, 299, 399 index

pokemon[50:100] #pokemon between 50 and 99, one after colon is excluded

99        Voltorb
199    Misdreavus
299        Skitty
399       Bibarel
Name: Pokemon, dtype: object

EXTRACTING VALUES BY INDEX LABEL

In [96]:
#creating a new series where name of the pokemon is the index

pokemon2 = pd.read_csv('pandas/pokemon.csv', index_col = 'Pokemon', squeeze = True)

In [97]:
pokemon2

Pokemon
Bulbasaur       Grass
Ivysaur         Grass
Venusaur        Grass
Charmander       Fire
Charmeleon       Fire
               ...
Yveltal          Dark
Zygarde        Dragon
Diancie          Rock
Hoopa         Psychic
Volcanion        Fire
Name: Type, Length: 721, dtype: object

In [99]:
pokemon2['Pikachu'] #instead of the index position, we gave the index label to get the value associated with it

'Electric'

THE .get() METHOD ON A SERIES

In [101]:
pokemon3 = pd.read_csv('pandas/pokemon.csv', index_col = 'Pokemon', squeeze = True)
pokemon3.sort_index(inplace=True)
pokemon3.head(3)

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Name: Type, dtype: object

In [106]:
pokemon3.get(0)#the parameter is a key which can be an index position or a label

pokemon3.get('Pikachu') #label

pokemon3.get([0,5]) #list of index positions or labels

Pokemon
Abomasnow     Grass
Aerodactyl     Rock
Name: Type, dtype: object

In [107]:
#if you enter an index position or label that does not exist, the default parameter in that case would be null, 
#however, that can be changed and can be defined; default is the fall back option


pokemon3.get(1000, default = 'This is not a Pokemon')#since 1000 index does not exist, default comes into play

'This is not a Pokemon'

 MATH METHODS ON SERIES OBJECTS

In [110]:
#using the google_stock series in this 

google_stocks.count() #gives number of valid values within the series; count excluded null or missing values

3012

In [112]:
google_stocks.sum() #sum of all values in the series

1006942.0

In [113]:
google_stocks.mean() #mean of all values in the series

334.31009296148756

In [114]:
google_stocks.std() #standard deviation of all the values in the series; avg distance between a value and mean of Series

173.18720477113106

In [115]:
google_stocks.max() #max value

782.22

In [116]:
google_stocks.min() #min value

49.95

In [118]:
google_stocks.median() #middle value in the series

283.315

In [120]:
google_stocks.describe() #stat function that describes metrics of the series

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

THE .value_counts() METHOD

If we want to get a count of all the unique values that occur in a series, we can use the above function

In [121]:
pokemon3.value_counts()

Water       105
Normal       93
Grass        66
Bug          63
Fire         47
Psychic      47
Rock         41
Electric     36
Ground       30
Poison       28
Dark         28
Fighting     25
Dragon       24
Ice          23
Ghost        23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

In [124]:
pokemon3.value_counts().sum() #sum of all the counts; basically all the values minus Null and missing fields

721

THE SERIES #MAP METHOD

Maps the values of a series to another collection of data

In [127]:
pokemon_names = pd.read_csv('pandas/pokemon.csv', usecols = ['Pokemon'], squeeze = 'True')
pokemon_names

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [129]:
pokemon_types = pd.read_csv('pandas/pokemon.csv', index_col = 'Pokemon', squeeze = True)
pokemon_types

Pokemon
Bulbasaur       Grass
Ivysaur         Grass
Venusaur        Grass
Charmander       Fire
Charmeleon       Fire
               ...
Yveltal          Dark
Zygarde        Dragon
Diancie          Rock
Hoopa         Psychic
Volcanion        Fire
Name: Type, Length: 721, dtype: object

In [130]:
pokemon_names.map(pokemon_types) 

#it takes the index position of our first series 'names' and map it to values of our second series 'types'

0        Grass
1        Grass
2        Grass
3         Fire
4         Fire
        ...
716       Dark
717     Dragon
718       Rock
719    Psychic
720       Fire
Name: Pokemon, Length: 721, dtype: object